<p>David W. Agler<br />
Class or Assignment Name<br />
Date Submitted</p>
<h1 id="secondary-source-summary">Secondary Source Summary</h1>
<h2 id="secondary-source">Secondary Source</h2>
<p>Stango, M. &amp; Agler, D. W. (2017). Human body, enhancement, and
the missing technomoral virtue. <em>Sociología y tecnociencia</em>,
8(1), 43-59.</p>
<h2 id="main-claim">Main Claim</h2>
<p>The main claim of this essay is . . .</p>
<h2 id="key-points">Key Points</h2>
<p>The essay makes five key points.</p>
<ul>
<li>The first point is that . . .</li>
<li>The second point is that . . .</li>
<li>The third point is that . . .</li>
<li>The fourth point is that . . .</li>
<li>The fifth point is that . . .</li>
</ul>
<h2 id="organization">Organization</h2>
<p>The essay is organized into three sections. The first section
introduces topic X and the author states thesis Y. The second section
outlines previous research on topic X and points out one key shortcoming
of this research. The third section then returns to the main claim of
the essay.</p>
